@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: white;
    background-color: #000407;
    height: 2000px;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

header::after {
    content: '';
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, #000407, transparent);
    z-index: 100000;
}

header::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(19, 78, 165, 0.4);
    z-index: 100000;
    mix-blend-mode: color;
}

header img {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#bmount, #fmount {
    margin-bottom: -80px;
}

#fmount {
    z-index: 2;
}

#txt {
    margin-top: 160px;
    position: relative;
    top: 0px;
    font-size: 9em;
    text-shadow: 0 0 5px black;
    z-index: 1;
}

section {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area {
    width: 60%;
    position: absolute;
    text-align: justify;
    transition: .8s;   
}

.hide {
    margin-left: -160vw;
    opacity: 0;
}

.area h2 {
    text-align: center;
    margin-bottom: 20px;
}

.area p {
    text-indent: 40px;
}

#img {
    width: 150px;
    height: 150px;
    margin: 50px auto 0;
    position: relative;
    transition: .4s;
}

.up {
    transform: translateY(-5px)
}

#img img {    
    border-radius: 50%;
}

#shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0;
    border-radius: 50%;
    box-shadow: 0 0 15px #c5e5f691,
                inset -5px -5px 5px rgb(0, 0, 0, .6),
                inset 5px 5px 5px rgb(255, 255, 255, .6);
}

.hover {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: .4s;
}

.hover a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

.hover a:hover {
    text-decoration: underline;
}

.apar {
    opacity: 1;
}